<!DOCTYPE html>
<html lang="en">
<head>
  <!-- icon animated -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css"/>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Ulhaq Mz Rest Api</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
 <audio autoplay="autoplay" hidden="hidden" src="https://g.top4top.io/m_2349enk3v0.mp3"></audio>
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">
              <div class="search-header">
                Histories
              </div>
              <div class="search-item">
                <a href="#">
                  <div class="search-icon bg-primary text-white mr-3">
                    <i class="fas fa-laptop"></i>
                  </div>
                  Tutorial buka Chrome
                </a>
              </div>
            </div>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Messages
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-message">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="img/avatar/avatar-3.png" class="rounded-circle">
                    <div class="is-online"></div>
                  </div>
                  <div class="dropdown-item-desc">
                     <b>Fandyy</b>
                    <p>Mantep Api Nya 🗿</p>
                    <div class="time">1 Jam Yang Lalu</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="img/avatar/avatar-2.png" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Iky</b>
                    <p>Bagi Esceh Banh</p>
                    <div class="time">12 Menit Yang Lalu</div>
                  </div>
                </a>              
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Rest Api Dibuat Pada 9/6/2022
                    <div class="time text-primary">9/6/22</div>
                  </div>
                  </a>
               </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="/profile" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block">Lann Ofc</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="/profile" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profile
              </a>
              <a href="/games" class="dropdown-item has-icon">
                <i class="fas fa-gamepad"></i> Game Website
              </a>
              <div class="dropdown-divider"></div>
              <a href="/" class="dropdown-item has-icon text-warning">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
     <body id="page-top" onload="getvisitor();">
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a>Rest Api - Ulhaq Mz</a>
          </div>          
         <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="dropdown">
          <a class="nav-link" href="download">          
          <i class="fas fa-download "></i>
          </span>
          <span class="menu-title">Download</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="search">          
          <i class="fas fa-search "></i>
          </span>
          <span class="menu-title">Search</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="music">         
          <i class="fas fa-music "></i>
          </span>
          <span class="menu-title">Music</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="stalk">          
          <i class="fas fa-envelope "></i>
          </span>
          <span class="menu-title">Stalk</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="cecan">          
          <i class="fas fa-child "></i>
          </span>
          <span class="menu-title">Cecan</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="asupan">          
          <i class="fas fa-chart-bar "></i>
          </span>
          <span class="menu-title">Asupan</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="maker">          
          <i class="fas fa-book "></i>
          </span>
          <span class="menu-title">Maker</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="textprome">          
          <i class="fas fa-brush "></i>
          </span>
          <span class="menu-title">Textprome</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="info">          
          <i class="fas fa-info "></i>
          </span>
          <span class="menu-title">Informasi</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="game">          
          <i class="fas fa-gamepad "></i>
          </span>
          <span class="menu-title">Game</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="islamic">          
          <i class="fas fa-star "></i>
          </span>
          <span class="menu-title">Islamic</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="simisimi">          
          <i class="fas fa-smile "></i>
          </span>
          <span class="menu-title">Simi-Simi</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="creator">          
          <i class="fas fa-thumbs-up "></i>
          </span>
          <span class="menu-title">Creator</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="primbon">          
          <i class="fas fa-ghost "></i>
          </span>
          <span class="menu-title">Primbon</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="randomimage">          
          <i class="fas fa-image "></i>
          </span>
          <span class="menu-title">Random Image</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="randomtext">          
          <i class="fas fa-cookie "></i>
          </span>
          <span class="menu-title">Random Text</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="nsfw">          
          <i class="fas fa-heart "></i>
          </span>
          <span class="menu-title">Nsfw</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="anime">          
          <i class="fas fa-cloud "></i>
          </span>
          <span class="menu-title">Anime</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="news">          
          <i class="fas fa-tv "></i>
          </span>
          <span class="menu-title">News</span>
          </a>
          </li>
            <li class="dropdown">
          <a class="nav-link" href="other">          
          <i class="fas fa-clock "></i>
          </span>
          <span class="menu-title">Other</span>
          </a>
          </li>
            </a>
          </div>        </aside>
      </div>
     <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Ulhaq Mz Api</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="/">Home</a></div>
              <div class="breadcrumb-item">Dashboard</div>
            </div>
          </div>                                         
              <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Your Ip</h4>
                  </div>
                  <div class="card-body">
                  <h5 class="mb-0" id="ipaddres">Waiting...</h5>
                  </div>
                </div>
              <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Visitor</h4>
                  </div>
                  <div class="card-body">
                  <h5 class="mb-0" id="visitor">Waiting...</h5>
                  </div>                  
                </div>
                  <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Total Hit</h4>
                  </div>
                  <div class="card-body">
                  <h5 class="mb-0" id="hit">Waiting...</h5>
                  </div>                  
                </div> 
                 <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Informasi</h4>
                  </div>
                  <div class="card-body">
                  <p>Rest Api Ini Saya Buat dan Saya Kembangkan Untuk Kalian Para Creator Bot Yang Tidak Punya Uang Untuk Membeli Apikey. Rest Api Ini Free Tidak Memerlukan Biaya Apapun Dalam Menggunakan-nya. Gunakan Secara Bijak Ya :)</p>
                  </div>                  
                </div>                                       
              <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>S & K</h4>
                  </div>
                  <div class="card-body">
                  <li>Dilarang Spam Request</li>
                  <li>Jangan Ditembak Bang Sakit :)</li>
                  <li>Dilarang Merusak Website Template</li>
                  <li>Owner Sewaktu Waktu Dapat Mengubah Ketentuan Di Website Ini!</li>
                  <li>Kalau Eror Laporkan Ke Owner</li>
                </div>                  
                </div>          
              <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Thanks to</h4>
                  </div>
                  <div class="card-body">
                  <li>Allah SWT</li>
                  <li>Nabi Muhammad Saw</li>
                  <li>Lann Ofc (Me)</li>
                  <li>ReySekha</li>
                  <li>Zahirr</li>
                  <li>Fandyy</li>
                  <li>My Ortu</li>
                  <li>Fardan Xwer</li>
                  <li>Atak Bot</li>
                  <li>Penyedia Module Api</li>
                  <li>Stisla For Template</li>
                  <li>Dan kalian yang sudah menggunakan api dengan baik</li>
                  </div>                  
                </div>
              <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Contact Me</h4>
                  </div>
                  <div class="card-body">
                  <li><a href="https://instagram.com/ulhaqmz_">Instagram</a></li>
                  <li><a href="https://t.me/BetaBot200">Telegram</a></li>
                  <li><a href="https://wa.me/62895330026617">WhatsApp</a></li>
                  <li><a href="https://github.com/ulhaqmz">Github</a></li>
                  </div>                  
                </div>
          <div class="section-body">
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2022 <div class="bullet"></div> Create By <a href="https://github.com/ulhaqmz">Ulhaq Mz</a>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="modules/jquery.min.js"></script>
  <script src="modules/popper.js"></script>
  <script src="modules/tooltip.js"></script>
  <script src="modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="modules/moment.min.js"></script>
  <script src="js/stisla.js"></script>
  <script src="js/dashboard.js"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="js/scripts.js"></script>
  <script src="js/custom.js"></script>    
  <script> 
  	$.getJSON("https://api.countapi.xyz/hit/betabotz-api.herokuapp.com/visits",
	function(data) {
	$("#visitor").html(data.value);
	})
	</script>
	<script>
		$.getJSON("https://api.countapi.xyz/hit/betaapikey.herokuapp.com/hit", 
		function(data) {
			$("#hit").html(data.value)
			})
		</script>
	<script>
		$.getJSON("https://api.ipify.org?format=json",
		function(data) {
			$("#ipaddres").html(data.ip)
			})
			</script>					
</body>
</html>